[Unit]
Description=SoundChain Server
After=network.target

[Service]
Type=simple
User=p5ina
WorkingDirectory=/home/p5ina/Projects/sound-chain/server
ExecStart=/home/p5ina/Projects/sound-chain/server/venv/bin/python -u main.py
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target
